@charset 'utf-8';
#skip{
    position: absolute;
    left: -500px;
}

#skip:focus{
    left: 100px;
    transition: 1s;
}
/* Resetting default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Centering the text */
section {
    text-align: center;
}
.statues {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Space between elements */
    margin-bottom: 40px;
    /* Space between different statue divs */
}

.statues img {
    width: 400px;
    /* Fixed width for images */
    height: auto;
    /* Maintain aspect ratio */
    padding: 40px;
    
}

.statue1, .statue2, .statue3 {
    border-radius: 10px;
}

.statuetitle {
    flex: 1;
    padding: 30px;
    padding-right: 30px;
    padding-left: 30px;
    /* Allow the title and text to take up remaining space */
}

.statuetitle h2 {
    margin: 0 0 10px;
    /* Space between h2 and paragraph */
}

.statuetitle p {
    margin: 0;
}

.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    /* Add some space between the image and the paragraph */
}

.aboutme img {
    /* Ensure the image is responsive */
    width: 300px;
    border-radius: 10px;
    /* Maintain the aspect ratio of the image */
}


.title {
    text-align: center;
}
/* Setting a default font and color */
body {
    font-family: "Sedan SC",
    serif;
    color: rgb(15, 49, 19);
}
button{
    font-family: "Sedan SC",
    serif;
    color: rgb(15, 49, 19);
}
main {
    font-family: "Sedan SC",
    serif;
    color: rgb(15, 49, 19);
}
article {
    font-family: "Sedan SC",
        serif;
    color: rgb(15, 49, 19);
}
.blog1, .blog2, .blog3, .blog4 {
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Styling the navigation bar */
header {
    background-color: rgb(42, 114, 89);
    padding: 20px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(20, 42, 28);
    margin: auto;
    text-align: center;
}
/* Styling the image captions */
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    /* Horizontally centering the image */
    align-items: center;
    /* Vertically centering the image */
    margin-bottom: 20px;
    /* Adding some space between images */
}


header h1 {
    margin: 0;
    text-shadow: -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    border:rgb(15, 49, 19), 2px;
    text-shadow: -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
    padding: 7px;
    margin-bottom: 5px;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
    background: rgb(245, 148, 83);
    transition: 0.5s;
    border-radius: 5%;
    color: rgb(255, 255, 255)
}

.current {
    font-size: 27px;
    font-weight: bold;
    border-bottom: solid rgb(245, 148, 83);
    text-shadow: -1px -1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0);
    color:#9ee29e;
    display: inline-block;
}

.current::before {
    content: "\2618";
}

.current::after {
    content: "\2618";
}
/* Styling the main section */
main {
    padding-top: 10px;
    padding-left: 5px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 20px;
    text-shadow: -0.5px -0.5px 0 rgb(255, 255, 255),
    0.5px -0.5px 0 rgb(255, 255, 255),
    -0.5px 0.5px 0 rgb(255, 255, 255),
    0.5px 0.5px 0 rgb(255, 255, 255);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    display: flex;
    /*border-radius: 5px;*/
    margin: auto;
    box-shadow:rgb(5, 57, 28);
    filter: drop-shadow(rgb(5, 57, 28));
    filter: sepia(0.15)
}

.bereals {
    padding-bottom: 30px;
}

.bereals-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery {
    padding-bottom: 30px;
}

.berealtext{
    padding: 50px;
    justify-content: center;
    align-items: center;
}


.bereals-grid img{
    border-radius: 5%;
    border: 2px solid black;
    margin: 10px;
}


/* Centering the images */
.image-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    grid-template-columns: 100%;
    grid-gap: 20px;
    justify-content: center;
    border-radius: 5px;
    margin: auto;
    align-items: center;
}

.image-grid img{
    width: 80%;
    border: solid rgb(13, 75, 26);
    /*border-radius: 93% 7% 90% 10% / 8% 93% 7% 92%;*/
}

/* Styling the footer */
footer {
    background-color: rgb(175, 68, 1);
    color: rgb(246, 232, 204);
    text-align: center;
    padding: 20px;
    text-shadow: -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.blogposts{
    display: flex;
    flex-direction: column-reverse
}

.pageimages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 5px;
}

.pagetext{
    padding: 20px;
}

figure {
    float: right;
    text-align: center;
    font-size: smaller;
    text-indent: 0;

}

figcaption {
    padding-top: 5px;
}

html {
    scroll-behavior: smooth;
}

.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}

.blogimages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogimages img {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Disable smooth scrolling */
    }

    * {
        transition: 0s !important;
    }
}

@media (prefers-color-scheme: dark) {
    header {
        background: rgb(5, 57, 28);
        color: rgb(222, 193, 156);
    }
    nav a {
        color: rgb(167, 96, 5);
        
    }

    body {
        background-color: rgb(222, 193, 156);
        color: rgb(7, 46, 11);
    }

    section h2 {
        margin-bottom: 20px;
        text-shadow: -0.5px -0.5px 0 rgb(222, 193, 156),
            0.5px -0.5px 0 rgb(222, 193, 156),
            -0.5px 0.5px 0 rgb(255, 255, 255),
            0.5px 0.5px 0 rgb(255, 255, 255);
    }

    footer {
        background-color: rgb(138, 54, 1);
        color: rgb(222, 193, 156);
        text-align: center;
        padding: 20px;
        text-shadow: -0.5px -0.5px 0 #000,
            0.5px -0.5px 0 #000,
            -0.5px 0.5px 0 #000,
            0.5px 0.5px 0 #000;
    }
}
@media screen and (min-width: 300px) {
    .pageimages, .blogimages {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .blogposts {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        text-align: center;
    }
    
    nav a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
        text-shadow: -0.5px -0.5px 0 #000,
            0.5px -0.5px 0 #000,
            -0.5px 0.5px 0 #000,
            0.5px 0.5px 0 #000;
        margin-bottom: 5px;
        margin: 15px;
    }
}

@media (max-width: 888px) {
    .aboutme, .statues {
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        /* padding-left: 10px;
        padding-right: 10px; */
        /* Center-align text for better appearance on mobile */
    }

    .aboutme img, #statue1, #statue2, #statue3, .statues img {
        margin-bottom: 20px;
        width: 80%;
        /* Add space between the image and paragraph on mobile */
    }
    .statuetext {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }
    
    .aboutme p, .statuetext {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 780px){
    .pageimages,
    .blogimages {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .blogposts {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    .image-grid{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 995px) {
    .image-grid {
        grid-template-columns: 30% 30% 30%;
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
    }
}